body{
    width: 100%;
    margin: 0;
    padding:0;
}

img{
    cursor: pointer;
}   

/* MAIN */

.Main{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/* MAIN */

/* HEADER */

.Header{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -50px;
}

.Header div:nth-child(1){
    display: flex;
    place-content: center;
    width: 100%;
    max-width:300px;
}

.Header div:nth-child(2){
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width:300px;
}

@media(max-width:600px){
    .Header div:nth-child(2){
        margin-left: 28px;
    }
}

.Header div h2{
    font-size: 18px;
}

.Header div p{
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 21px;
}

/* DESCRIPTION */

.Order1 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 337px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order1 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.Order2 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 343px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order2 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.Order3 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 337px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order3 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.Order4 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 337px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order4 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.Order5 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 343px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order5 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.Order6 p:nth-child(3){
    color: white;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    height: 337px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 229px;
    padding: 10px;
    cursor: #f9f9f9;
    transition: .2s;
}
.Order6 p:nth-child(3).open{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

/* DESCRIPTION */

/* HEADER */

/* ARTICLE */

.Content{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: -50px;
}

@media(max-width:1000px){
    .Content{
        margin: 0 auto;
    }
    .Header{
        margin: 0 auto;
}
}
.Caja-1{
    margin: 0px 9px;
    height: 330px;
    width: 250px;
    background: white;
}

.Caja-2{
    margin: 75px 9px;
    height: 340px;
    width: 250px;
    background: dimgray;
}

.Caja-3{
    margin: 0px 9px;
    height: 330px;
    width: 250px;
    background: white;
}

.Caja-4{
    margin: 0px 9px;
    height: 330px;
    width: 250px;
    background: white;
}

.Caja-5{
    margin: 75px 9px;
    height: 340px;
    width: 250px;
    background: dimgray;
}

.Caja-6{
    margin: 0px 9px;
    height: 330px;
    width: 250px;
    background: white;
}

@media(max-width:805px){
    .Caja-1{
        margin: 0px 9px 100px 9px;
    }
    .Caja-3{
        margin: 0px 9px 100px 9px;
    }
    .Caja-5{
        margin: 0px 9px 100px 9px;
    }
    .Caja-2{
        margin: 100px 9px 0px 9px;
    }
    .Caja-4{
        margin: 100px 9px 0px 9px;
    }
    .Caja-6{
        margin: 100px 9px 0px 9px;
    }
}

@media(max-width:600px){
    .Caja-1{
        margin: 25px 50px 100px 50px;
    }
    .Caja-3{
        margin: 10px 50px 100px 50px;
    }
    .Caja-5{
        margin: 10px 50px 100px 50px;
    }
    .Caja-2{
        margin: 10px 50px 100px 50px;
    }
    .Caja-4{
        margin: 10px 50px 100px 50px;
    }
    .Caja-6{
        margin: 10px 50px 100px 50px;
    }
}

.Caja-1 >div{
    display: flex;
    flex-flow: row;
}

.Caja-2 >div{
    display: flex;
    flex-flow: row;
}

.Caja-3 >div{
    display: flex;
    flex-flow: row;
}

.Caja-4 >div{
    display: flex;
    flex-flow: row;
}

.Caja-5 >div{
    display: flex;
    flex-flow: row;
}

.Caja-6 >div{
    display: flex;
    flex-flow: row;
}

.Caja-1 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-2 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-3 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-4 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-5 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-6 p:nth-child(2){
    writing-mode: vertical-rl;
    margin: 5px 4px;
}

.Caja-1 img{
    width: 100%;
}

.Caja-2 img{
    width: 100%;
}

.Caja-3 img{
    width: 100%;
}

.Caja-4 img{
    width: 100%;
}

.Caja-5 img{
    width: 100%;
}

.Caja-6 img{
    width: 100%;
}

/* ARTICLE */
